.newTaskButton{
    border: none;
    background-color: whitesmoke;
    margin-left: 15px;
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    font-weight: 700;

  }

.taskInput{
    flex: 0.7;
    border: none;
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: inset 0px 0px 6px  black;

}
.newTaskButton:hover{
    border: none;
    background-color: whitesmoke;
    margin-left: 15px;
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 4px  black;
  }
.newTaskButton:active{
    border: none;
    background-color: whitesmoke;
    margin-left: 15px;
    width: 100px;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 7px  black;
  }
.cancel{
margin-left: 10px !important;
color: white !important;
font-weight: 700 !important;
}
